// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
//@import 'bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Bootswatch
@import 'bootswatch';

// dashboard admin
@import 'dashboard-admin.scss';

.admin-pagination {
    --bs-pagination-color: #000000;
    --bs-pagination-hover-color: #772953;
    --bs-pagination-focus-color: #772953;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(119, 41, 83, 0.25);
    --bs-pagination-active-bg: #772953;
    --bs-pagination-active-border-color: #772953;
}

.text-dark {
    color: #772a54;
}
