.ui.fluid.search.dropdown {
    border: 1px solid #ced4da !important;
    border-radius: .375rem !important;
    min-height: 2.35rem !important;
    line-height: 1em !important;
    padding: .75em .8em 0em .8em !important;
}

.ui.fluid.search.dropdown:hover {
    border: inherit;
    border-radius: .375rem !important;
}

.ui.fluid.search.dropdown.active {
    border: 1px solid #f6bfab !important;
    border-radius: .375rem !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(233,84,32,.25) !important;
}

.ui.fluid.search.dropdown.error {
    border: 1px solid #df382c !important;
    border-radius: .375rem !important;
}

.ui.fluid.search.dropdown.active.error {
    border: 1px solid #df382c !important;
    border-radius: .375rem !important;
    box-shadow: 0 0 0 0.25rem #f7cdca !important;
}

.ui.fluid.search > .search {
    padding: .5em .7em 0em .7em !important;
    font-size: 1rem !important;
}

.ui.search.dropdown > .text {
    font-size: 1rem !important;
}

.ui.fluid.search > .text.default {
    display: block !important;
    color: #919397 !important;
    min-height: 1rem !important;
    font-size: 1rem !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.ui.fluid.search > .menu.visible {
    margin-top: .25rem !important;
    border: 1px solid #ced4da !important;
}

.ui.dropdown.error {
    background: #fff !important;
    border: 1px solid #df382c !important;
}

.ui.dropdown.error:hover {
    background: #fff !important;
    border: 1px #df382c !important;
}

.ui.dropdown.error, .ui.dropdown.error>.text, .ui.dropdown.error>.default.text {
    color: #333 !important;
}
